<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="Interval" value="0 52 23 1/1 * ? *"/>
    <add key="FromEmailID" value="hostels@iitmandi.ac.in"/>  
    <add key="PasswordMail" value="381847#IIT"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="DataSource" value="DESKTOP-08EJQAR"/>
    <add key="UserID" value="login@IIT"/>
    <add key="PasswordDatabase" value="security@iit"/>
    <add key="InitialCatalog" value="master"/>
    <add key="dayNo" value="0"/>
  </appSettings>
</configuration>
